@model GameBd.WebClient.Models.Users

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Users</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Login
        </dt>

        <dd>
            @Html.DisplayFor(model => model.login)
        </dd>

        <dt>
            Firstname
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstname)
        </dd>

        <dt>
            Lastname
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastname)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            Registration date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_created)
        </dd>

        <dt>
            User Group
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserGroups.descr)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.user_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
